<md-dialog aria-label="Editar Categoria" style="width:500px">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Datos del solicitante</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancelar()">
          <md-icon md-svg-src="../resources/img/icons/cerrar.svg" aria-label="cerrar dialogo"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:900px;max-height:810px; ">
      <div class="md-dialog-content">
			<md-input-container class="md-block">
			  <label>Codigo Patrocinador</label>
			  <input type="text" ng-model="datosSel.DisID" style="color:rgba(0,0,0,0.87)" disabled/>
			</md-input-container>
			<md-input-container class="md-block">
			  <label>Nombres</label>
			  <input type="text" ng-model="datosSel.Nom" style="color:rgba(0,0,0,0.87)" disabled/>
			</md-input-container>
			<div layout layout-xs="column" >
			<md-input-container flex>
			  <label>Primer Apellido</label>
			  <input type="text" ng-model="datosSel.PriApe" style="color:rgba(0,0,0,0.87)" disabled/>
			</md-input-container>
			<md-input-container flex>
			  <label>Segundo Apellido</label>
			  <input type="text" ng-model="datosSel.SegApe" style="color:rgba(0,0,0,0.87)" disabled/>
			</md-input-container>
			</div>
			<md-input-container class="md-block">
			  <label>Fecha Nacimiento</label>
			  <input type="text" ng-model="datosSel.FecNac" style="color:rgba(0,0,0,0.87)" disabled/>
			</md-input-container>
			<div layout layout-xs="column" >
			<md-input-container flex>
			  <label>Sexo</label>
			  <input type="text" ng-model="datosSel.SexId" style="color:rgba(0,0,0,0.87)" disabled/>
			</md-input-container>
			<md-input-container flex>
			  <label>Estado Civil</label>
			  <input type="text" ng-model="datosSel.estado" style="color:rgba(0,0,0,0.87)" disabled/>
			</md-input-container>
			</div>
			<div layout layout-xs="column" >
			<md-input-container flex>
			  <label>Correo Electronico</label>
			  <input type="text" ng-model="datosSel.Ema" style="color:rgba(0,0,0,0.87)" disabled/>
			</md-input-container>
			<md-input-container flex>
			  <label>Numero Telefono</label>
			  <input type="text" ng-model="datosSel.Tel" style="color:rgba(0,0,0,0.87)" disabled/>
			</md-input-container>
			</div>
			<div layout layout-xs="column" >
			<md-input-container flex>
			  <label>Ciudad/Provincia</label>
			  <input type="text" ng-model="datosSel.CiuPro" style="color:rgba(0,0,0,0.87)" disabled/>
			</md-input-container>
			<md-input-container flex>
			  <label>Pais</label>
			  <input type="text" ng-model="datosSel.pais" style="color:rgba(0,0,0,0.87)" disabled/>
			</md-input-container>
			</div>
			<md-input-container class="md-block">
			  <label>Direccion</label>
			  <input type="text" ng-model="datosSel.DirAct" style="color:rgba(0,0,0,0.87)" disabled/>
			</md-input-container>
			
			<div layout layout-xs="column" >
			<md-input-container flex>
			  <label>dni</label>
			  <input type="text" ng-model="datosSel.dni" style="color:rgba(0,0,0,0.87)" disabled/>
			</md-input-container>
			<md-input-container flex>
			  <label>RUC</label>
			  <input type="text" ng-model="datosSel.RUC" style="color:rgba(0,0,0,0.87)" disabled/>
			</md-input-container>
			</div>
			<md-input-container class="md-block">
			  <label>Fecha de Envio</label>
			  <input type="text" ng-model="datosSel.FecEnv" style="color:rgba(0,0,0,0.87)" disabled/>
			</md-input-container>
		<fieldset class="mi-fieldset"><legend >Producto de Inscripcion</legend></fieldset>
		<div flex="100" flex-xs="100">
			<div layout layout-xs="column" >
			<md-input-container flex>
			  <label>Pack</label>
			  <input type="text" ng-model="datosSel.producto" style="color:rgba(0,0,0,0.87)" disabled/>
			</md-input-container>
			<md-input-container flex>
			  <label>Monto</label>
			  <input type="text" ng-model="datosSel.MonPag" style="color:rgba(0,0,0,0.87)" disabled/>
			</md-input-container>
			</div>
			<md-input-container class="md-block">
			  <label>Voucher</label>
			  <input type="text" ng-model="datosSel.NumVou" style="color:rgba(0,0,0,0.87)" disabled/>
			</md-input-container>
		</div>
		<object width="100%" height="400" data="../archivos/solicitudes/{{datosSel.ArcAdj}}"></object>
		
      </div>
    </md-dialog-content>
	
	<md-dialog-actions layout="row">
		<md-button class="md-raised md-warn" ng-click="cancelar()" >
		 Cerrar
		</md-button>
		<md-button class="md-raised md-primary" ng-click="observarSolicitud()" style="margin-right:20px;" >
		  Informacion Incorrecta
		</md-button>
	</md-dialog-actions>
  </form>
</md-dialog>

